In [3]:
import os
import sys
import pyspark 

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

# Basic training

In [7]:
from pyspark import SparkContext # type: ignore

In [8]:
sc = SparkContext()

In [4]:
num = list(range(0,10000))

In [5]:
rdd_num = sc.parallelize(num)

In [6]:
rdd_num.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
sum(num)

49995000

In [8]:
rdd_num.reduce(lambda a,b: a+b)

49995000

In [9]:
rdd_num.reduce(min)

0

In [10]:
filtered_rdd_num =  rdd_num.filter(lambda x : x%2 == 0)

In [11]:
filtered_rdd_num.take(10)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# SQL in Pyspark

## Read JSON

Hàm làm sạch

In [4]:
def clean_json_file(input_path, output_path):
    with open(input_path, 'r') as infile, open(output_path, 'w') as outfile:
        for line in infile:
            # Chỉ ghi các dòng không trống (dòng chứa dữ liệu)
            if line.strip():  # Loại bỏ dòng trống
                outfile.write(line)

In [5]:
from pyspark.sql import SQLContext

In [9]:
sqlContext = SQLContext(sc)

c:\Users\Bao Kun\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [10]:
clean_json_file("C:\\Users\\Bao Kun\\Desktop\\PysparkTraining\\sample_users_with_id.json", "cleaned_input.json") #sample_users_with_id

# Đọc tệp JSON vào DataFrame
#df = spark.read.json("")
df = sqlContext.read.option("multiline", "true").json("cleaned_input.json")
df.show()

# Hiển thị các dòng trong DataFrame


# Kiểm tra kiểu dữ liệu của các cột
df.printSchema()

+--------------------+-----------------+--------------+-----------+----------+-------------+--------------------+------------+--------------+--------+--------------------+--------------------+
|          created_at|            email|email_verified|family_name|given_name|      last_ip|          last_login|logins_count|          name|nickname|          updated_at|             user_id|
+--------------------+-----------------+--------------+-----------+----------+-------------+--------------------+------------+--------------+--------+--------------------+--------------------+
|2016-11-28T14:10:...|    test@test.com|          true|       Test|     Hello|94.121.163.63|2016-12-02T01:17:...|          15| test@test.com|    test|2016-12-02T01:17:...|583c3ac3f38e84297...|
|2016-11-28T16:00:...|   test1@test.com|          true|      Test1|    Hello1|94.121.168.53|2016-11-28T16:00:...|           1|test1@test.com|   test1|2016-11-28T16:00:...|583c5484cb79a5fe5...|
|2016-11-28T16:12:...|      aaa@aaa.com|          true|      Dough|      John|94.121.168.53|2016-11-28T16:12:...|           2|   aaa@aaa.com|     aaa|2016-11-28T16:12:...|583c57672c7686377...|
|2016-12-01T23:59:...|          a@a.com|          true|      Dough|      Jane|94.121.163.63|2016-12-01T23:59:...|           3|       a@a.com|       a|2016-12-01T23:59:...|5840b954da0529cd2...|
|2016-12-09T12:01:...|test9999@test.com|         false|       User|     Dummy|         NULL|                NULL|        NULL|          NULL|    NULL|2016-12-09T12:01:...|584a9d13e808bcf75...|
+--------------------+-----------------+--------------+-----------+----------+-------------+--------------------+------------+--------------+--------+--------------------+--------------------+

root
 |-- created_at: string (nullable = true)
 |-- email: string (nullable = true)
 |-- email_verified: boolean (nullable = true)
 |-- family_name: string (nullable = true)
 |-- given_name: string (nullable = true)
 |-- last_ip: string (nullable = true)
 |-- last_login: string (nullable = true)
 |-- logins_count: long (nullable = true)
 |-- name: string (nullable = true)
 |-- nickname: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- user_id: string (nullable = true)

In [16]:
df.count()

5

In [17]:
df.select(df.created_at).show()

+--------------------+
|          created_at|
+--------------------+
|2016-11-28T14:10:...|
|2016-11-28T16:00:...|
|2016-11-28T16:12:...|
|2016-12-01T23:59:...|
|2016-12-09T12:01:...|
+--------------------+

In [18]:
df.take(10)

[Row(created_at='2016-11-28T14:10:11.338Z', email='test@test.com', email_verified=True, family_name='Test', given_name='Hello', last_ip='94.121.163.63', last_login='2016-12-02T01:17:29.310Z', logins_count=15, name='test@test.com', nickname='test', updated_at='2016-12-02T01:17:29.310Z', user_id='583c3ac3f38e84297c002546'),
 Row(created_at='2016-11-28T16:00:04.209Z', email='test1@test.com', email_verified=True, family_name='Test1', given_name='Hello1', last_ip='94.121.168.53', last_login='2016-11-28T16:00:47.203Z', logins_count=1, name='test1@test.com', nickname='test1', updated_at='2016-11-28T16:00:47.203Z', user_id='583c5484cb79a5fe593425a9'),
 Row(created_at='2016-11-28T16:12:23.777Z', email='aaa@aaa.com', email_verified=True, family_name='Dough', given_name='John', last_ip='94.121.168.53', last_login='2016-11-28T16:12:52.353Z', logins_count=2, name='aaa@aaa.com', nickname='aaa', updated_at='2016-11-28T16:12:52.353Z', user_id='583c57672c7686377d2f66c9'),
 Row(created_at='2016-12-01T23:59:16.473Z', email='a@a.com', email_verified=True, family_name='Dough', given_name='Jane', last_ip='94.121.163.63', last_login='2016-12-01T23:59:53.474Z', logins_count=3, name='a@a.com', nickname='a', updated_at='2016-12-01T23:59:53.474Z', user_id='5840b954da0529cd293d76fe'),
 Row(created_at='2016-12-09T12:01:23.787Z', email='test9999@test.com', email_verified=False, family_name='User', given_name='Dummy', last_ip=None, last_login=None, logins_count=None, name=None, nickname=None, updated_at='2016-12-09T12:01:23.787Z', user_id='584a9d13e808bcf75f05f580')]

## Code SQL trong python

In [ ]:
df.createOrReplaceTempView("sql_df") # Đăng ký để sử dụng viết code SQL

In [19]:
sqlContext.sql("select * from sql_df").show(10)

+--------------------+-----------------+--------------+-----------+----------+-------------+--------------------+------------+--------------+--------+--------------------+--------------------+
|          created_at|            email|email_verified|family_name|given_name|      last_ip|          last_login|logins_count|          name|nickname|          updated_at|             user_id|
+--------------------+-----------------+--------------+-----------+----------+-------------+--------------------+------------+--------------+--------+--------------------+--------------------+
|2016-11-28T14:10:...|    test@test.com|          true|       Test|     Hello|94.121.163.63|2016-12-02T01:17:...|          15| test@test.com|    test|2016-12-02T01:17:...|583c3ac3f38e84297...|
|2016-11-28T16:00:...|   test1@test.com|          true|      Test1|    Hello1|94.121.168.53|2016-11-28T16:00:...|           1|test1@test.com|   test1|2016-11-28T16:00:...|583c5484cb79a5fe5...|
|2016-11-28T16:12:...|      aaa@aaa.com|          true|      Dough|      John|94.121.168.53|2016-11-28T16:12:...|           2|   aaa@aaa.com|     aaa|2016-11-28T16:12:...|583c57672c7686377...|
|2016-12-01T23:59:...|          a@a.com|          true|      Dough|      Jane|94.121.163.63|2016-12-01T23:59:...|           3|       a@a.com|       a|2016-12-01T23:59:...|5840b954da0529cd2...|
|2016-12-09T12:01:...|test9999@test.com|         false|       User|     Dummy|         NULL|                NULL|        NULL|          NULL|    NULL|2016-12-09T12:01:...|584a9d13e808bcf75...|
+--------------------+-----------------+--------------+-----------+----------+-------------+--------------------+------------+--------------+--------+--------------------+--------------------+

In [16]:
sqlContext.sql('select email from sql_df').show(5)

+-----------------+
|            email|
+-----------------+
|    test@test.com|
|   test1@test.com|
|      aaa@aaa.com|
|          a@a.com|
|test9999@test.com|
+-----------------+

In [20]:
sqlContext.sql("select email, email_verified from sql_df where email_verified = 'false' ").show(10)

+-----------------+--------------+
|            email|email_verified|
+-----------------+--------------+
|test9999@test.com|         false|
+-----------------+--------------+

In [27]:
sc.stop()

## Read CSV

In [2]:
from pyspark.sql import SparkSession

# Khởi tạo Spark session
spark = SparkSession.builder \
    .appName("ReadCSVExample") \
    .getOrCreate()

In [12]:

# Đọc tệp CSV
df = spark.read.csv("C:\\Users\\Bao Kun\\Desktop\\PysparkTraining\\Store_CA.csv", header=True, inferSchema=True)

# Hiển thị dữ liệu
df.show(20)

+--------------+--------------+----------------+---------+------------------+--------+------------------+---------------+-----------------+-------------+-------------+-------------------+
|ProductVariety|MarketingSpend|CustomerFootfall|StoreSize|EmployeeEfficiency|StoreAge|CompetitorDistance|PromotionsCount|EconomicIndicator|StoreLocation|StoreCategory|MonthlySalesRevenue|
+--------------+--------------+----------------+---------+------------------+--------+------------------+---------------+-----------------+-------------+-------------+-------------------+
|           581|            29|            1723|      186|              84.9|       1|                12|              6|            108.3|  Los Angeles|  Electronics|              284.9|
|           382|            31|            1218|      427|              75.8|      18|                11|              6|             97.8|  Los Angeles|  Electronics|             308.21|
|           449|            35|            2654|      142|              92.8|      14|                11|              6|            101.1|  Los Angeles|      Grocery|             292.11|
|           666|             9|            2591|      159|              66.3|      11|                11|              4|            115.1|   Sacramento|     Clothing|             279.61|
|           657|            35|            2151|      275|              89.1|      28|                12|              7|             93.4|    Palo Alto|  Electronics|             359.71|
|           182|            43|            1789|      312|              88.8|      13|                 8|              8|             70.4|    Palo Alto|  Electronics|             258.21|
|           341|            29|            1868|      400|              65.2|       8|                12|              6|             99.3|San Francisco|  Electronics|              240.3|
|           500|            32|             786|      112|              54.6|       3|                12|              6|             96.4|    Palo Alto|     Clothing|             250.28|
|           656|            30|            1352|      108|              51.4|      16|                15|              6|             82.5|    Palo Alto|  Electronics|             249.41|
|           419|            48|            1949|       90|              93.1|      16|                 5|              8|            110.3|    Palo Alto|  Electronics|             203.93|
|           851|            10|            1501|      223|              53.6|      18|                 9|              4|             99.5|  Los Angeles|     Clothing|             393.32|
|           458|            26|            1673|      324|              63.5|      28|                 7|              5|            114.6|    Palo Alto|      Grocery|             266.49|
|           432|            18|            1901|      286|              50.1|      13|                 7|              5|             76.6|San Francisco|      Grocery|             283.63|
|           555|            40|            2528|      333|              68.6|       6|                 8|              7|            101.4|   Sacramento|  Electronics|             303.41|
|           587|            37|            1797|      268|              53.7|      28|                10|              7|            109.3|San Francisco|     Clothing|             274.64|
|           637|            46|            1345|      112|              86.8|       9|                10|              7|             94.2|  Los Angeles|      Grocery|             263.24|
|           510|            17|            1556|      284|              67.5|      12|                 6|              5|            119.0|San Francisco|     Clothing|             297.06|
|           586|            41|            2249|      397|              62.8|      28|                 8|              7|             88.5|  Los Angeles|     Clothing|             313.59|
|           834|            44|            1403|      340|              68.2|      24|                11|              7|             77.5|  Los Angeles|      Grocery|             405.82|
|           353|            16|            1624|      416|              88.2|       9|                10|              5|            102.9|San Francisco|     Clothing|             281.78|
+--------------+--------------+----------------+---------+------------------+--------+------------------+---------------+-----------------+-------------+-------------+-------------------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- ProductVariety: integer (nullable = true)
 |-- MarketingSpend: integer (nullable = true)
 |-- CustomerFootfall: integer (nullable = true)
 |-- StoreSize: integer (nullable = true)
 |-- EmployeeEfficiency: double (nullable = true)
 |-- StoreAge: integer (nullable = true)
 |-- CompetitorDistance: integer (nullable = true)
 |-- PromotionsCount: integer (nullable = true)
 |-- EconomicIndicator: double (nullable = true)
 |-- StoreLocation: string (nullable = true)
 |-- StoreCategory: string (nullable = true)
 |-- MonthlySalesRevenue: double (nullable = true)

In [11]:
df.agg({'StoreSize':'mean','MonthlySalesRevenue':'mean'}).show()

+------------------+------------------------+
|    avg(StoreSize)|avg(MonthlySalesRevenue)|
+------------------+------------------------+
|272.99757575757576|       299.2532848484848|
+------------------+------------------------+

In [22]:
groupByStoreCategory_df = df.groupBy('StoreCategory').agg({'StoreSize':'mean','MonthlySalesRevenue':'mean'})

In [23]:
groupByStoreCategory_df = groupByStoreCategory_df.orderBy('avg(MonthlySalesRevenue)', ascending=False)

In [24]:
groupByStoreCategory_df.show()

+-------------+------------------+------------------------+
|StoreCategory|    avg(StoreSize)|avg(MonthlySalesRevenue)|
+-------------+------------------+------------------------+
|      Grocery|274.22487223168656|       301.3255706984667|
|     Clothing| 276.3806818181818|       300.8631250000001|
|  Electronics| 268.3121495327103|       295.3908037383178|
+-------------+------------------+------------------------+

In [25]:
df.take(10)

[Row(ProductVariety=581, MarketingSpend=29, CustomerFootfall=1723, StoreSize=186, EmployeeEfficiency=84.9, StoreAge=1, CompetitorDistance=12, PromotionsCount=6, EconomicIndicator=108.3, StoreLocation='Los Angeles', StoreCategory='Electronics', MonthlySalesRevenue=284.9),
 Row(ProductVariety=382, MarketingSpend=31, CustomerFootfall=1218, StoreSize=427, EmployeeEfficiency=75.8, StoreAge=18, CompetitorDistance=11, PromotionsCount=6, EconomicIndicator=97.8, StoreLocation='Los Angeles', StoreCategory='Electronics', MonthlySalesRevenue=308.21),
 Row(ProductVariety=449, MarketingSpend=35, CustomerFootfall=2654, StoreSize=142, EmployeeEfficiency=92.8, StoreAge=14, CompetitorDistance=11, PromotionsCount=6, EconomicIndicator=101.1, StoreLocation='Los Angeles', StoreCategory='Grocery', MonthlySalesRevenue=292.11),
 Row(ProductVariety=666, MarketingSpend=9, CustomerFootfall=2591, StoreSize=159, EmployeeEfficiency=66.3, StoreAge=11, CompetitorDistance=11, PromotionsCount=4, EconomicIndicator=115.1, StoreLocation='Sacramento', StoreCategory='Clothing', MonthlySalesRevenue=279.61),
 Row(ProductVariety=657, MarketingSpend=35, CustomerFootfall=2151, StoreSize=275, EmployeeEfficiency=89.1, StoreAge=28, CompetitorDistance=12, PromotionsCount=7, EconomicIndicator=93.4, StoreLocation='Palo Alto', StoreCategory='Electronics', MonthlySalesRevenue=359.71),
 Row(ProductVariety=182, MarketingSpend=43, CustomerFootfall=1789, StoreSize=312, EmployeeEfficiency=88.8, StoreAge=13, CompetitorDistance=8, PromotionsCount=8, EconomicIndicator=70.4, StoreLocation='Palo Alto', StoreCategory='Electronics', MonthlySalesRevenue=258.21),
 Row(ProductVariety=341, MarketingSpend=29, CustomerFootfall=1868, StoreSize=400, EmployeeEfficiency=65.2, StoreAge=8, CompetitorDistance=12, PromotionsCount=6, EconomicIndicator=99.3, StoreLocation='San Francisco', StoreCategory='Electronics', MonthlySalesRevenue=240.3),
 Row(ProductVariety=500, MarketingSpend=32, CustomerFootfall=786, StoreSize=112, EmployeeEfficiency=54.6, StoreAge=3, CompetitorDistance=12, PromotionsCount=6, EconomicIndicator=96.4, StoreLocation='Palo Alto', StoreCategory='Clothing', MonthlySalesRevenue=250.28),
 Row(ProductVariety=656, MarketingSpend=30, CustomerFootfall=1352, StoreSize=108, EmployeeEfficiency=51.4, StoreAge=16, CompetitorDistance=15, PromotionsCount=6, EconomicIndicator=82.5, StoreLocation='Palo Alto', StoreCategory='Electronics', MonthlySalesRevenue=249.41),
 Row(ProductVariety=419, MarketingSpend=48, CustomerFootfall=1949, StoreSize=90, EmployeeEfficiency=93.1, StoreAge=16, CompetitorDistance=5, PromotionsCount=8, EconomicIndicator=110.3, StoreLocation='Palo Alto', StoreCategory='Electronics', MonthlySalesRevenue=203.93)]

In [26]:
df.select('StoreCategory').distinct().show()

+-------------+
|StoreCategory|
+-------------+
|      Grocery|
|  Electronics|
|     Clothing|
+-------------+

In [27]:
df.select('ProductVariety', 'MarketingSpend' , 'CustomerFootfall').show()

+--------------+--------------+----------------+
|ProductVariety|MarketingSpend|CustomerFootfall|
+--------------+--------------+----------------+
|           581|            29|            1723|
|           382|            31|            1218|
|           449|            35|            2654|
|           666|             9|            2591|
|           657|            35|            2151|
|           182|            43|            1789|
|           341|            29|            1868|
|           500|            32|             786|
|           656|            30|            1352|
|           419|            48|            1949|
|           851|            10|            1501|
|           458|            26|            1673|
|           432|            18|            1901|
|           555|            40|            2528|
|           587|            37|            1797|
|           637|            46|            1345|
|           510|            17|            1556|
|           586|            41|            2249|
|           834|            44|            1403|
|           353|            16|            1624|
+--------------+--------------+----------------+
only showing top 20 rows

In [28]:
import time

Đổi tên cột dùng lambda, có thể dùng withColumnRenamed để thay thế

In [31]:
start_time = time.time()

mapDic = { 'Grocery' : 'Tạp hóa', 'Electronics' : 'Đồ điện', 'Clothing' : 'Quần áo'}

data = df.rdd.map(lambda x: x.asDict()).map(
    lambda row: {**row, 'StoreCategory': mapDic.get(row['StoreCategory'], row['StoreCategory'])}
)

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.0009987354278564453 seconds ---

In [33]:
data.take(10)

[{'ProductVariety': 581,
  'MarketingSpend': 29,
  'CustomerFootfall': 1723,
  'StoreSize': 186,
  'EmployeeEfficiency': 84.9,
  'StoreAge': 1,
  'CompetitorDistance': 12,
  'PromotionsCount': 6,
  'EconomicIndicator': 108.3,
  'StoreLocation': 'Los Angeles',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 284.9},
 {'ProductVariety': 382,
  'MarketingSpend': 31,
  'CustomerFootfall': 1218,
  'StoreSize': 427,
  'EmployeeEfficiency': 75.8,
  'StoreAge': 18,
  'CompetitorDistance': 11,
  'PromotionsCount': 6,
  'EconomicIndicator': 97.8,
  'StoreLocation': 'Los Angeles',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 308.21},
 {'ProductVariety': 449,
  'MarketingSpend': 35,
  'CustomerFootfall': 2654,
  'StoreSize': 142,
  'EmployeeEfficiency': 92.8,
  'StoreAge': 14,
  'CompetitorDistance': 11,
  'PromotionsCount': 6,
  'EconomicIndicator': 101.1,
  'StoreLocation': 'Los Angeles',
  'StoreCategory': 'Tạp hóa',
  'MonthlySalesRevenue': 292.11},
 {'ProductVariety': 666,
  'MarketingSpend': 9,
  'CustomerFootfall': 2591,
  'StoreSize': 159,
  'EmployeeEfficiency': 66.3,
  'StoreAge': 11,
  'CompetitorDistance': 11,
  'PromotionsCount': 4,
  'EconomicIndicator': 115.1,
  'StoreLocation': 'Sacramento',
  'StoreCategory': 'Quần áo',
  'MonthlySalesRevenue': 279.61},
 {'ProductVariety': 657,
  'MarketingSpend': 35,
  'CustomerFootfall': 2151,
  'StoreSize': 275,
  'EmployeeEfficiency': 89.1,
  'StoreAge': 28,
  'CompetitorDistance': 12,
  'PromotionsCount': 7,
  'EconomicIndicator': 93.4,
  'StoreLocation': 'Palo Alto',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 359.71},
 {'ProductVariety': 182,
  'MarketingSpend': 43,
  'CustomerFootfall': 1789,
  'StoreSize': 312,
  'EmployeeEfficiency': 88.8,
  'StoreAge': 13,
  'CompetitorDistance': 8,
  'PromotionsCount': 8,
  'EconomicIndicator': 70.4,
  'StoreLocation': 'Palo Alto',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 258.21},
 {'ProductVariety': 341,
  'MarketingSpend': 29,
  'CustomerFootfall': 1868,
  'StoreSize': 400,
  'EmployeeEfficiency': 65.2,
  'StoreAge': 8,
  'CompetitorDistance': 12,
  'PromotionsCount': 6,
  'EconomicIndicator': 99.3,
  'StoreLocation': 'San Francisco',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 240.3},
 {'ProductVariety': 500,
  'MarketingSpend': 32,
  'CustomerFootfall': 786,
  'StoreSize': 112,
  'EmployeeEfficiency': 54.6,
  'StoreAge': 3,
  'CompetitorDistance': 12,
  'PromotionsCount': 6,
  'EconomicIndicator': 96.4,
  'StoreLocation': 'Palo Alto',
  'StoreCategory': 'Quần áo',
  'MonthlySalesRevenue': 250.28},
 {'ProductVariety': 656,
  'MarketingSpend': 30,
  'CustomerFootfall': 1352,
  'StoreSize': 108,
  'EmployeeEfficiency': 51.4,
  'StoreAge': 16,
  'CompetitorDistance': 15,
  'PromotionsCount': 6,
  'EconomicIndicator': 82.5,
  'StoreLocation': 'Palo Alto',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 249.41},
 {'ProductVariety': 419,
  'MarketingSpend': 48,
  'CustomerFootfall': 1949,
  'StoreSize': 90,
  'EmployeeEfficiency': 93.1,
  'StoreAge': 16,
  'CompetitorDistance': 5,
  'PromotionsCount': 8,
  'EconomicIndicator': 110.3,
  'StoreLocation': 'Palo Alto',
  'StoreCategory': 'Đồ điện',
  'MonthlySalesRevenue': 203.93}]

In [34]:
spark.stop()